/* ____tablet version____ */

/*________________ SECTION-2 _______________*/
@media screen and (min-width: 768px) {
  .container,
  .taste .container {
    width: 768px;
  }

  .features-subtitle {
    text-align: left;
  }

  .features-item {
    width: calc((100% - 3 * 24px) / 2);
  }

  .features-item-text {
    max-width: 356px;
  }

  /*________________ SECTION-3 _______________*/

  .taste-list {
    row-gap: 64px;
    column-gap: 24px;
  }
}

/* ____desktop version____ */

@media screen and (min-width: 1440px) {
  .container,
  .taste .container {
    width: 1440px;
  }

  .features {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .container-icon-features {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .features-list {
    gap: 24px;
    flex-basis: calc((100% - 3 * 16px) / 6);
  }

  .features-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
  }

  .features-item-text {
    font-weight: 400;
    max-width: 264px;
  }

  /*________________ SECTION-3 _______________*/

  .taste {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .taste-title {
    margin-bottom: 72px;
  }

  .taste-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .taste-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}
