/* ____tablet version____ */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tabl-2x.jpg);
      padding-bottom: 112px;
    }
  }

  /*---------------- HEADER -----------------*/

  .header-logo {
    padding: 24px 0px;
    margin-right: 120px;
  }

  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .taste .container {
    padding-left: 28px;
    padding-right: 28px;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #434455;
    padding: 0;
  }

  .mob-menu,
  .menu-open-btn {
    display: none;
  }

  .nav-list,
  .contacts-list {
    display: flex;
  }

  .container-footer-logo {
    text-align: center;
    padding-left: 50px;
  }

  .container-footer {
    row-gap: 72px;
    column-gap: 24px;
  }

  .footer-subscribe {
    gap: 24px;
  }

  /*________________ SECTION-1 _______________*/

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tabl.jpg);
    padding-bottom: 112px;
    padding-top: 112px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
    max-width: 496px;
  }

  /*________________ SECTION-2 _______________*/

  .features-subtitle {
    text-align: left;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-item-text {
    max-width: 356px;
  }

  .features-list {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  /*________________ SECTION-3 _______________*/

  .taste-list {
    gap: 64px 24px;
  }

  .taste-soc-list {
    justify-content: center;
  }

  /*________________ SECTION-4_______________*/

  .portfolio-item {
    width: calc((100% - 24px) / 2);
    justify-content: center;
  }

  .portfolio-list {
    row-gap: 72px;
  }

  /*________________ FOOTER_______________*/

  .container-footer {
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 72px 24px;
    padding-left: 108px;
  }

  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }

  .container-footer-logo {
    padding-left: 0;
    text-align: left;
  }

  .subscribe-subtitle {
    text-align: left;
  }
  .container-footer-soc {
    text-align-last: left;
  }
}

/* ______________DESKTOP VERSION______________ */

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .mob-menu,
  .menu-open-btn {
    display: none;
  }

  .nav-list,
  .contacts-list {
    display: flex;
  }

  /*---------------- HEADER -----------------*/

  .contacts-list {
    flex-direction: row;

    gap: 40px;
  }

  .header-container {
    margin-left: auto;
    margin-right: auto;
  }

  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  /*________________ SECTION-1 ________________*/

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    padding-bottom: 188px;
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
      padding-bottom: 112px;
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
    max-width: 496px;
  }

  /*________________ SECTION-2 _______________*/

  .features {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .container-icon-features {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .features-list {
    gap: 24px;
    flex-basis: calc((100% - 3 * 16px) / 6);
  }

  .features-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
  }

  .features-item-text {
    font-weight: 400;
    max-width: 264px;
  }

  /*________________ SECTION-3 _______________*/

  .taste {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .taste-title {
    margin-bottom: 72px;
  }

  .taste-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .taste-soc-list {
    justify-content: center;
  }

  .taste-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  /*________________ SECTION-4_______________*/

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  /*________________ FOOTER_______________*/
  .page-footer {
    flex-direction: row;
  }

  .container-footer {
    display: flex;
    /* align-items: baseline; */
    flex-wrap: nowrap;
    /* justify-content: unset; */
    gap: 0;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .container-footer-soc {
    margin-right: 70px;
    text-align: left;
  }

  .container-footer-logo {
    width: 264px;
    margin-right: 120px;
  }

  .subscribe {
    min-width: 463px;
  }

  .text-footer {
    min-width: 264px;
  }

  .footer-subscribe {
    display: flex;
    gap: 24px;
    flex-wrap: unset;
    justify-content: unset;
  }

  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
}
