@media screen (min-wdth:768px) {
.container{
    width: 768px;
    padding-left: ;
}
}


/* ____desktop version____ */

@media screen (min-wdth:1440px) {
    .container {
        width: 1440px;
        padding-left: ;
    }
}





